{% extends 'base.html' %}

{% block title %}
Product List
{% endblock %}

{% block content %}

<h1 class="text-center text-primary mb-4">
    Cloth Inventory Management System
</h1>

<a href="/products/add/" class="btn btn-success mb-3">
    Add New Product
</a>

<form method="GET" class="mb-3">
    <div class="input-group">
        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search Product">

        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>

<table class="table table-bordered table-hover shadow">

    <thead class="table-dark">
        <tr>
            <th>Image</th>
            <th>Code</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Selling Price</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for product in products %}
        <tr>

            <td>
                {% if product.image %}
                    <img src="{{ product.image.url }}"
                         width="80"
                         height="80"
                         class="rounded">
                {% else %}
                    No Image
                {% endif %}
            </td>

            <td>{{ product.product_code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>₹ {{ product.selling_price }}</td>

            <td>

                <a href="/products/edit/{{ product.id }}/"
                   class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="/products/delete/{{ product.id }}/"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure?')">
                    Delete
                </a>

            </td>

        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}